/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .videos {
    width: 100%;
    margin-bottom: 50px;
  }

  .bagian-utama h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  
  .teams {
    width: 50%;
    margin-bottom: 50px;
  }
  .teams1 {
    width: 100%;
    margin-bottom: 50px;
	padding: 4px 200px 60px;
  }
  .team {
    width: 100%;
   
  }
  footer {
	width: 100%;
  }
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
	.teams {
    width: 100%;
  }
   .teams1 {
    width: 100%;
    padding: 4px 20px 60px;
  }
	
  .videos {
    width: 100%;
  }

  .videos video{
    width:100%;
    height: auto;
  }

  footer {
	width: 100%;
    text-align: center;
  }

  

  .bagian-utama {
    text-align: left;
  }


  .header-right {
    display: none;
  }

  .bagian-utama h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .bagian-utama p {
    font-size: 14px;
    line-height: 20px;
  }

  .menu-icon {
    display: block;
  }
}
