* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}



.container {
  max-width: 1170px;
  height: 355px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container2{
 
  height: 10px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container2 p{
  font-size: 10px;
  
}

.bagian-utama {
  padding: 150px 0 100px 0;
  background-size: cover;
  background-image: url(assets/ratu-boko.jpg);
  color: white;
  text-align: center;
  animation-name: example;
  animation-duration: 9s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0%   {}
  25%   {background-image: url(assets/ratu-boko.jpg);}
  50%  {background-image: url(assets/prambanan.jpg);}
  100%  {background-image: url(assets/borobudur.jpg);}
}

.bagian-utama h1 {
  color:absolute;
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.bagian-utama p {

  font-size: 15px;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(18, 77, 122, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  position: fixed;
  color:white;
  width: 124px;
  padding: 5px 0;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.fa-bars{
  display: none;
}



.extra1 {
  padding-top: 0px;
  padding-bottom: 270px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #cfdbe4;
  text-align: center;
}


.extra2 {
  padding-bottom: 270px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
  
}


.teams {
  float: left;
  width: 20%;
  padding: 5px 15px 10px;
  background: white;
  border-radius:1px;
  text-align:center;
}

.teams1 {
  float: left;
  width: 20%;
  padding: 5px 15px 10px;
  background: white;
  text-align:center;
  
}

.pic {
	display: inline-block;
			width: 100%;
			height: 100%;
			background: white;
			padding: 5px;
			margin-bottom: 0px;
			transition: all 0.5s ease 0s;
			position: relative;
}

.teams:hover .pic 
		{
			background: #124c7a;
			border-radius: 50%;
		}

.pic img{
			width:100%;
			height: auto;
			border-radius:50%;
		}
		
.title{
			display: block;
			font-size: 15px;
			font-weight: 600px;
			color: #1f1f1f;
			text-transform: uppercase;
			margin: 0 0 7px 0;
		}

.social
		{
			padding: 0;
			margin: 0;
			list-style: none;
		}
.social li a
		{
			background: #124c7a;
			color: white;
		}
		
.social li 
		{
			display: inline-block;
			margin-right: 5px;
		}
.social li a
		{
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			border-radius: 30px;
			font-size: 15px;
			color: white;
			transition: all 0.5s ease 0s;
		}
		
.teams:hover.social li a
		{
			background: #17bebb;
			color: white;
		}

.video {
  width: 100%;
  height: auto;
}

.heading {
  padding-top: 60px;
  padding-bottom: 5px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.videos {
  float: left;
  width: 100%;
}

.video-candi {
  position: relative;
}

.video-candi p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.clear{
  clear:left;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}


.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}



footer img {
  width: 119px;
}

footer p {
  color: black;
  font-size: 15px;
 
}

footer {
  height: 65px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
